﻿.rememberme-text {
    padding:0 5px;
}

.checkListBulletPopup ul{
	padding-left:20px;
	list-style:none;
}

    .checkListBulletPopup ul li {
        line-height:30px;
    }

#CheckListModal .modal-dialog {
    width:800px;
}

.btn-square {
    border-radius:0px;
    padding: 6px;
    }

.checkListBulletPopup ul li:before {
  content: '\f061';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #2A313B;
}

.panel-group {
    margin:0px;
}


a.selected:focus { color: green; }

.dxfmControl div.dxfm-file {
    float:none;
    display:inline-block;
}

.sidebar.menu .sidebar-menu .menu > li, .sidebar.menu .sidebar-menu .menu > li > a {
	height:auto;
	padding:4px 0;
}

input.switch[type="checkbox"] ~ .text::before {
	text-indent:-30px;
}


.height-scroll-wrapper {
	height:350px;
	overflow:hidden;
}

.height-scroll {
	height:100%;
	overflow-y:scroll;
	overflow-x:hidden;
}

.name-icon {
	height:80px;
	text-align:center;
}

.view-information {
	line-height: 23px;
    font-size: 12px;
	display: inline-block;
    margin: 0 10px 0 0px;
	position: relative;	
}

.upload-icon .viewpanel-short-name {
	margin: 0px;
    box-shadow: inset 0 0 0 2px #fff;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 20px;
	border-radius:0px;
}

.upload-wrapper {
	float: left;
    width: 100%;
    margin: 10px 0 0 0;
    border-bottom: 1px solid #eee;
    padding: 0 0 10px 0;
	position:relative;
}

#TaskView, #TaskDocuments, #TaskCommentsView {
	float:left; 
	width:100%;
}

.upload-wrapper:last-child {
	border-bottom:0px;
}

.upload-wrapper .upload-img {
	max-height: 37px;
	max-width: 37px;
	height: 37px;
	width: 37px;
}

.upload-wrapper .upload-img img {
	width:100%;
}

.upload-wrapper .information {
	float: left;
    margin:0px 0px 0 10px;
	line-height: 22px;
}

.upload-wrapper .information .filename {
	font-size:12px;
	font-weight:500;
	text-transform: capitalize;
}

.upload-wrapper .download .overflow {
	width: 45px;
    height: 45px;
    overflow: hidden;
    position: absolute;
	right:0px;
    background: #eee;
    border-radius: 5px;
	text-align:center;
}

.upload-wrapper .download .overflow a{
	font-size: 10em;
    opacity: 0;
    width: 40px;
    height: 35px;
    position: absolute;
	top:0px;
	left:0px;
}

.upload-wrapper .download .overflow i {
	position: absolute;
    top: 10px;
    font-size: 2em;
    color: #656565;
    left: 10px;
	text-shadow:2px 0px 3px #fff;
}

#MainView {
	width:100%;
	float:left;
}

.floatleft {
	float:left;
	width:100%;
}

.tasklistoption ul {
	margin:0px;
	padding:0px;
	list-style:none;
}

.tasklistoption ul li a{
	margin:0px 05px 0 0;
	color:#999;
	font-size: 16px;
	line-height: 17px;
}

.tasklistoption ul li a:hover {
	color:#444;
}

.mail-container .mail-body .message-view .message .message-container li {
	float: left;
}

.yima-on-off-btn2 {
	position:relative;
	z-index:999;
}

.yima-on-off-btn2 .position-line{
	position: absolute;
    right: 255px;
    top: 12px;
    width: 28%;
}

.yima-on-off-btn2 .position-line .select-wid {
	max-width: 215px;
    width: 100%;
    margin: 0 0 0 10px;
    padding: 0px;
   display:inline-block;
}

.yima-on-off-btn2 .position-line .paddingtop {
	line-height: 30px;
    padding: 0px;
    text-align: right;
	display:inline-block;
}

@media screen and (max-width: 1365px) {

.yima-on-off-btn2 .position-line{
	position: relative;
    right: 0;
    top: 0px;
    width: 100%;
    float: right;
}

.yima-on-off-btn2 .position-line .form-group {
	float:right;
	width:100%;
	margin:0px;
	text-align: right;
}

.yima-on-off-btn2 .position-line .select-wid {
	max-width:235px;
	width:100%;
	margin-right: 0px;
    padding-right: 0px;
	text-align:left;
}

.yima-on-off-btn2 .position-line .paddingtop {

}

} 

#accordion {
	float:left;
	width:100%;
}

.tab-content .tab-pane {
    padding: 15px;
    font-size: 14px;
    font-weight: 300;
    color: #727272;
}

/*********task-followers*********/

.task-followers {
	float: left;
	width: 100%;
	margin: 0 0 8px 0;
	border-bottom: 1px solid #ccc;
	padding: 0 0 8px 0;
}

.task-followers:last-child {
	border-bottom:0px;
}

.task-followers .task-followers-options {
	float: right;
	margin: 3px 0 0 0;
}

.task-followers .option-control {
float: left;
width: 25px;
height: 24px;
line-height: 26px;
text-align: center;
color: #999;
transition: color 130ms ease,opacity 130ms ease;
outline: 0;
font-size: 16px;
margin: 0 02px 0 0px;
}

.task-followers .personInvolved {
	float:left;
}

.task-followers .followers-short-name {
	margin: 0 -1px 0 auto;
float: left;
width: 30px;
height: 30px;
line-height: 30px;
text-align: center;
color: #fff;
box-shadow: inset 0 0 0 2px #fff;
cursor: pointer;
box-sizing: border-box;
font-size: 12px;
border-radius: 50%;
overflow: hidden;
transition: box-shadow 130ms linear;
left: auto;
outline: 0;
z-index: 99;
position: relative;
background: #292929;
}

.task-followers .task-followers-options input[type="radio"] ~ .text::before {
	
}

.task-followers .followers-short-name .checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
	margin:0px;
}

.task-followers .followers-short-name .checkbox-inline, .radio-inline {
	padding-left:10px;
}

.task-followers .personName {
	font-family: ProximaNova-Regular,helvetica,arial,sans-serif;
height: 25px;
font-size: 13px;
line-height: 17px;
margin: 2px 8px 0 0;
text-decoration: none;
color: #666;
min-width: 100px;
text-overflow: ellipsis;
white-space: nowrap;
-webkit-border-radius: 0 3px 3px 0;
-moz-border-radius: 0 3px 3px 0;
-khtml-border-radius: 0 3px 3px 0;
border-radius: 0 3px 3px 0;
padding:04px 8px 0 10px;
float: left;
position: relative;
background-color: #eeeeee;
}

.task-followers .text-small {
	font-size:09px;
}

.task-followers .personName::before {
    content: '';
    float: left;
    background-color: #fff;
    width: 16px;
    height: 26px;
    position: absolute;
    left: -12px;
    top: -2px;
    bottom: 0;
    border-radius: 50%;
    box-shadow: 1px 0 0 rgba(0,0,0,.04);
}

/******DASHBOARD CSS*****/

.estimatedtime {
	font-size:12px;
	padding: 5px 0 0 0;
}

.dashboard-tools-wrap {
	position:relative;
	width:100%;
	float:left;
	font-size:13px;
}

.dashboard-tools-wrap::before {
	display: block;
	content: '';
	background-color: #d9e0e7;
	width: 2px;
	height: auto;
	position: absolute;
	top: -16px;
	bottom: 0;
	left: 14px;
}

 .dashboard-tools-wrap::after {
	display: block;
	content: '';
	background-color: #d9e0e7;
	width: 2px;
	height: auto;
	position: absolute;
	bottom: -16px;
	top: 0;
	left: 14px;
 }

  .dashboard-tools-wrap .border-bottom {
	border-bottom: 1px solid #eee;
	padding-bottom: 8px;
	float: left;
	width: 96%;
	margin-bottom: 08px;
  }
  
  .dashboard-tools-wrap > .last-child {
	   border-bottom:0px;
   }
 
 .dashboard-tools-wrap .dashboard-checked {
	margin: 0 10px 0 auto;
	float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #888;
    box-shadow: inset 0 0 0 1px #BBB;
    box-sizing: border-box;
    font-size: 17px;
    border-radius: 50%;
    overflow: hidden;
    transition: box-shadow 130ms linear;
    left: auto;
    outline: 0;
	z-index:99;
	position:relative;
	background:#fff;
}	

.dashboard-tools-wrap .dashboard-checked-danger {
	background:#f39086;
	color:#fff;
	  box-shadow: inset 0 0 0 2px #fff;
}

.dashboard-tools-wrap .dashboard-checked-primary {
	background:#6babed;
	color:#fff;
	  box-shadow: inset 0 0 0 2px #fff;
}

.dashboard-tools-wrap .dashboard-checked-green {
	background:#65ba5a;
	color:#fff;
	  box-shadow: inset 0 0 0 2px #fff;
}

.dashboard-tools-wrap .short-name {
	margin: 0 10px 0 auto;
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    box-shadow: inset 0 0 0 2px #fff;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 12px;
    border-radius: 50%;
    overflow: hidden;
    transition: box-shadow 130ms linear;
    left: auto;
    outline: 0;
    z-index: 99;
    position: relative;
    background: #000;
}


.viewpanel-short-name {
	margin: 0 10px 0 auto;
    float: left;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    box-shadow: inset 0 0 0 1px #BBB;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 12px;
    border-radius: 50%;
    overflow: hidden;
    transition: box-shadow 130ms linear;
    left: auto;
    outline: 0;
    z-index: 99;
    position: relative;
    background: #27ae60;
}

.dashboard-tools-wrap .margintop05 {
	margin-top:05px;
	float:left;
	margin-right:03px;
}

.loadmore {
	display: inline-block;
	background-color: #d9e0e7;
	position: relative;
	width: 30px;
	height: 30px;
	line-height: 30px;
	-webkit-border-radius: 50%;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 50%;
	-moz-background-clip: padding;
	border-radius: 50%;
	background-clip: padding-box;
	left: 0px;
}

/*******Dashboard CSS closed******/

/************Radio Button Wizard**************/

.task-pripority label {
	position: relative;
	display: inline-block !important;
	overflow: hidden;
	margin: 0 15px 0 0 !important;
	padding: 5px 5px !important;
	border: 1px solid #d8d8d8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	font-weight: 400 !important;
	color: #777 !important;
	background-color: #FFF;
}

.task-pripority label span span.text-wrap {
	opacity: 0.20; color:#3c3c3c;
}

.task-pripority label input[type=radio] ~ .text:before { 
border:0px; font-size: 18px; padding:1px 0 0 0;
content:'\f06a'; opacity:0.20;
}

.task-pripority label input[type=radio]:checked ~ .text:before {
 content:'\f06a';	
 opacity:01;
}

.task-pripority label input[type=radio]:checked ~ span span.text-wrap{
	 opacity:01;
}

.task-pripority label input[type=radio]:checked {
	border: 1px solid #000;
}

.task-pripority label input {
	display:none;
}

/****CHecklist

input[type="checkbox"] ~ .text::before{
	height: 20px;
    width: 20px;
    padding: 2px;
	margin:0 10px 0 0px;
}

input[type="checkbox"]:checked ~ .text::before {
	height: 20px;
    width: 20px;
    padding: 2px;
	margin:0 10px 0 0px;
}
****/

.task-complete-check input.checkbox-inverse[type="checkbox"] ~ .text::before, input.checkbox-white[type="checkbox"] ~ .text::before{
	border-color:transparent;
	background: url(/assets/img/checked.png) no-repeat 4px 4px;
	width: 24px;
    height: 25px;
}

.task-complete-check input[type="checkbox"]:checked ~ .text::before {
	width: 23px;
	padding-top: 2px;
	background: green;
	width: 24px;
    height: 27px;
}

.TaskPermissionModule input[type="checkbox"] ~ .text::before, .TaskPermissionModule input[type="checkbox"] ~ .text::before {
	height: 18px;
    width: 16px;
	margin:0 6px 0 0;
	padding: 0px;
    font-size: 10px;
}

/*********Custom CSS******/

.dropzone .dz-preview .dz-progress {
    background:transparent;
}

.inlineButtonGroup {
    display: inline-block;
    white-space: nowrap;
	padding: 0 0 0px;
}

span.inlineButtonContent {
    padding:4px 10px !important;
    display: block !important;
    display: inline-block;
    float: left;
    cursor: pointer;
    min-height: 23px;
}

a.inlineButton {
	background: #e8e8e8;
    display: inline-block;
    text-decoration: none;
    line-height: 25px;
    font-size: 16px;
    text-transform: capitalize;
    color: #959698;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    background-position: center center;
    background-repeat: no-repeat;
}

a.inlineButton.sel {
    background-color: #667686;
    color: #fff;
    border-top-color: #667686;
    border-left-color: #667686;
    border-bottom-color: #667686;
    border-right-color: #667686;
}

.page-header {
	margin-top:0px;
}

.content-nav-navbar .content-nav-navbar-content .thumbnail-links > li > a {
	line-height: 2.2;
}

/*********Custom  closed******/

.sidebar.menu .sidebar-header .header-brand .brand-logo img {
	height:auto;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #e9e9e9;
} 

tr.shown td.details-control:before {
    background-color: #29c7ca;
}

#accordion .panel-default > .panel-wrap {
	margin-bottom:10px;
	float:left; 
	background:#fff;
	width:100%;
	}
	
.margintop30 {
	margin-top:30px;
}
	
.margintop10{
	margin-top:10px;
}	

.marginbottom5block {
	margin-bottom:5px;
	display:block;
}

.marginbottom10{
	margin-bottom:10px;
}		
	
.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
	border:0px;
}	
	
#accordion .panel-default > .panel-wrap > .panel-heading {
    background-color:#ccc;
	width:100%;
	float:left;
}

#accordion .panel-default > .panel-wrap > .panel-collapse {
	background:#fff;
	float: left;
	width: 100%;
}

#accordion .panel-wrap > .panel-body {
	padding:05px;
}

.iconsplus {
	color: #727272;
	font-weight:300;
}
#accordion .panel {
        background:transparent;
		box-shadow: none;
}

.select2 {
	width:100% !important;
}

.form-horizontal .control-label {
	text-align:left;
}

@media screen and (max-width:768px) {

.table-responsive {
	min-height: .01%;
	overflow-x: auto;
	border:0px;
}

div.dataTables_wrapper > div.row > div, div.dataTables_length, div.dataTables_filter, div.dataTables_info, div.dataTables_paginate {
	text-align:left;
}

}

div.dataTables_info {
	padding: 10px 0 20px 0;
}

.over-hide {
	overflow:hidden;
}
.over-hide select {
left: 20px;
width:250px;
height: 68px;
}

.af_list
{
    z-index:99999 !important;
}

.vertical-resize {
  resize: vertical; 
}

.field-validation-error {
    color: #ff0000;
}

.required {
}

.required:after {
    content: " *";
    color: red;
}


/*Temp Css*/

.panel-title a:focus, .panel-title a:active {
	border:0px;
}

.marginbottom {
	margin-bottom:05px;
	} 
	
.page-header .header-text {
	padding-bottom:18px;
}	

a.arrow {

}

a.arrow .glyphicon {
	top:0px;
	font-size: 10px;
}

a.arrow .glyphicon:hover {
	border:0px;
}

.tools a {
	color:#fff;
	font-size:14px;
}

ul.tabnav {
    text-align: left;
    margin:0 0 8px 0px;
    font: 700 12px verdana,arial,sans-serif;
    border-bottom: 1px solid #CCC;
    list-style-type: none;
    padding:8px 10px 5px 0;
    clear: both;
} 

ul.tabnav li {
	display:inline-block;
}

ul.tabnav li.tab a {
    padding: 5px 6px;
    border: 1px solid #DDD;
    background-color: #EEE;
    color: #777;
    margin-right: 0;
    text-decoration: none;
    border-bottom: none;
    outline: 0;
    font-weight: 400;
    background-repeat: no-repeat;
    background-position: 4px 3px;
    padding-left: 10px;
    font-size: 11px;
    -webkit-text-size-adjust: none;
	white-space: nowrap; 
}

ul.tabnav .first {
	padding-left:0px;
}

.new-task-wrap {
	display:none;
}

.panel-heading .panel-title .accordion-toggle {
	float:left; 
	margin:0 08px 0px 0;
}

.margin .col-md-offset-2 {
	margin-left: 12.66666667% ;
}

.border-dashed {
	position:relative;
}

.border-dashed input {
	border-bottom:1px dashed #e5e5e5;
}

.border-dashed input.form-control {
	background:transparent;
	border-top:0px;
	border-right:0px;
	border-left:0px;
}

ul#myTab {
	border-bottom:0px;
	margin-bottom:0px;
}

ul#myTab li {
	margin-right: 0;
    text-decoration: none;
    border-bottom: none;
    outline: 0;
    background-repeat: no-repeat;
    background-position: 4px 3px;
    -webkit-text-size-adjust: none;
	white-space: nowrap; 
}

ul#myTab li a{
	color: #777;
	font-size: 14px;
    font-weight: 400;
	padding: 05px 10px;
	display: inline-block;
}

#myTabContent {
	border: 1px solid #eee;
	margin-top: -5px;
}

ul#myTab li:hover, ul#myTab li:focus{
	border: 1px solid #DDD;
    margin-right: 0;
    text-decoration: none;
    border-bottom: none;
    outline: 0;
    background-repeat: no-repeat;
    background-position: 4px 3px;
    -webkit-text-size-adjust: none;
	white-space: nowrap;
  background-color: #EEE;	
}

 ul#myTab li.active{
	background-color: #EEE;
	border: 1px solid #DDD;
    margin-right: 0;
    text-decoration: none;
    border-bottom: none;
    outline: 0;
    background-repeat: no-repeat;
    background-position: 4px 3px;
    -webkit-text-size-adjust: none;
	white-space: nowrap;
}

.panel-heading .overlayer {
	opacity:0;
	transition: .5s ease;
	backface-visibility: hidden;
	position: relative;
	top: -1px;
	left: 10px;
}

.panel-heading .overlayer a {
	color: #727272;
	font-size: 11px;
	border-right: 1px solid #727272;
	padding: 0 5px 0 2px;
	line-height: 0px;
	font-weight:300;
}


 .panel-heading .overlayer-task {	
	transition: .5s ease;
	backface-visibility: hidden;
	}

 .panel-heading .overlayer-task a {
	color: #727272;
	font-size: 11px;
	padding: 0 5px 0 2px;
	line-height: 0px;
	position: relative;
	font-weight:300;
 }

 
  .panel-heading .overlayer-task-wrap a {	
	color: #727272;
	font-size: 11px;
	padding: 0 5px 0 2px;
	line-height: 0px;
	position: relative;
	font-weight:300;
	}
 
.panel-heading .overlayer a:last-child {
	border-right:0px;
}

.panel-heading .heading-title {
	font-size: 12px;
	color: #727272;
	font-weight: 300;
}

.panel-heading:hover .overlayer {
	opacity:8;
}

.panel-heading:hover .overlayer-task {
	display:none;
}

.new-task-wrap .add-icon {
	position: absolute;
	top: 8px;
	left: 18px;
	bottom: 0;
}

.icons {
	opacity: .4;
}

.icons:hover {
	opacity: .8;
}

.new-task-wrap .add-icon a {
	background-color: #efefef;
	display: inline-block;
    width: 23px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    color: #888;
    box-shadow: inset 0 0 0 1px #BBB;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 13px;
    border-radius: 50%;
    overflow: hidden;
    transition: box-shadow 130ms linear;
    left: auto;
    margin: auto;
    outline: 0;
}

.panel-body-wrap {
	padding:0px 30px 0 30px;
	width:100%;
	float:left;
}

.new-task-wrap input.input-style {
	width: 97%;
margin: 0 0px 0 30px;
}

.old-task-list {float:left; width:100%;}
.old-task-list ul {list-style:none; margin:0px; padding:0px;}
.old-task-list ul li {
	border-bottom: 1px solid #eee;
	padding:10px 0;
	float: left;
	width: 100%;
	transition-timing-function: ease-in;
	transition-timing-function: ease-out;
	 transition: 0.5s;
	backface-visibility: hidden;
	font-weight:300;
}
.old-task-list ul li div.edit-dropdown-tools {
	float:left;
	opacity:0;
	transition: .5s ease;
	position:relative;
	top:5px;
	}
	
	@media (max-width: 480px) {
	
	.panel-heading .panel-title .hideOverflow {
		white-space: nowrap;
		text-overflow: ellipsis;
		width: 80px;
		float:left;
		overflow: hidden;
	}
	
	.overlayer-task-wrap {
		display:none;
	}
	
	}
	
.old-task-list ul li div.edit-dropdown-tools a {
	float: left  ;
    width: 16px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    color: #999;   
	transition: color 130ms ease,opacity 130ms ease;
    outline: 0;
	font-size: 16px;
	margin:0 8px 0 0px;
	}
	
	.old-task-list ul li div.edit-dropdown-tools i.fa-lock{
		color:#C00000;
	}

	.old-task-list ul li div.edit-dropdown-tools a:hover {
		font-size: 17px; color:#444444;
	}

 
.old-task-list ul li:hover .edit-dropdown-tools {
	opacity:10;
	transition-timing-function: ease-in;
	transition-timing-function: ease-out;
	 transition: 0.5s;
} 
	
.old-task-list ul li p.task-name {
	width:260px;
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
	font-weight: 200;
    padding: 5px 0 0 0;
}
	
.task-complete-check {
	 float:left;
	 position:relative;
	 z-index:99;
	}	

.assignedTo {
      right: auto;
    top: -1px;
    float: left;
    position: relative;
    left: -1px;
	
}

.assignedTo {
   box-sizing: border-box;
}

 .taskBubble {font-family: ProximaNova-Regular,helvetica,arial,sans-serif;
   height: 25px;
    font-size: 13px;
    line-height: 17px;
    margin: 2px 8px 0 0;
    text-decoration: none;
    color: #666;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -khtml-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    padding: 4px 8px 3px;
    float: left;
	position: relative;
	  background-color: #eeeeee;
 }
 
 .task-name {
	float:left;
	text-overflow: ellipsis;
	white-space: nowrap;	
	min-width: 85px;
	text-transform: capitalize;
	color: #666;
	margin-bottom:0px;
    font-weight:700;
 }
 
 .taskBubble:hover {
	  background-color: #e8e8e8;
	  color: #666;
	  text-decoration:none;
 }
 
 .taskBubble::before {
	content:'';
	float:left;
    background-color: #fff;
    width: 16px;
    height: 26px;
    position: absolute;
    left: -12px;
    top: -2px;
    bottom: 0;
    border-radius: 50%;
    box-shadow: 1px 0 0 rgba(0,0,0,.04);
}

.tooloption {
    position: relative;
    display: inline-block;
}

.tooloption a {
	color: #727272;
	font-size:14px;
	margin:0 05px;
}

.tooloption .tooloptiontext {
    visibility: hidden;
    width: 150px;
    background-color: #fff;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
	top: 25px;
	left: 50px;
    margin-left: -60px;
    opacity: 0;
    transition: all 0.6s ease;
	border:1px solid #b2b2b2;
	z-index:99999;
}

.tooloption .tooloptiontext::after {
   content: "";
	position: absolute;
	bottom: 100%;
	left: 18px;
	border-width: 6px;
	border-style: solid;
	border-color: transparent transparent #b2b2b2 transparent;
}


.intro {
	 visibility: visible !important;
    opacity: 1 !important;
}

.tooloptiontext ul {
	position:relative;
	z-index:99999;
	list-style:none;
	padding:0 5px;
	margin:0px;
}

.tooloptiontext ul li {
	display:block;
	text-align:left;
	padding:03px 0;
}

.tooloptiontext ul li a {
	color:#6f6f6f;
	font-size:13px;
	text-transform:capitalize;
}

.tooloptiontext ul li a:hover {
	text-decoration:none;
}

.tooloptiontext ul li a i {color:#b2b2b2; font-size:16px; margin:0 05px 0 0;}

.k-button.k-upload-selected {
    display: none !important;
}
.k-button.k-clear-selected {
    display: none !important;
}

.k-button.k-upload-action {
    display: none !important;
}


.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

@media (min-width: 320px) {
	.pull-left-xs {
		float:left;
	}
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }
	
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }
}

.edit-dropdown-tools .pe-7s-help1 {
font-weight: bold !important;
}

 .docviewer-img {
        max-width: 1000px;
        width: 100%;
        background: #fff;
        padding: 10px;
        border: 3px solid #ccc;
        box-shadow: 0px 0px 10px 5px #ccc;
}

.docviewer-img img {
    width: 100%;
}