<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
       <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="{% static 'script.js' %}" ></script>
</head>
<body style ="background-color:#eaeded">
<nav  style="background-color:#5d6d7e" class="nav-wrapper">
<div class="container-fluid  ">
    <div class="navbar-header">
        &nbsp;&nbsp;&nbsp;&nbsp;<a class="waves-effect waves-light btn" href="{% url 'index' %}">Viber <i class="material-icons right"></i></a>
    </div>
</div>
</nav>
<!--<form >-->
    <center>
      <h5 class="indigo-text">Register to your account</h5>
      <div class="section"></div>
      <div class="container">
        <div class="card" style="display: inline-block; padding: 62px 128px 0px 78px; border: 1px solid #EEE; border-radius: 15px;">
             <div style="width:130%"  class='input-field col s12 l12 m12'>
                <input required="required" id="first_name"  name="first_name" minlength="5" type="text">
                  <label class="active" for="first_name">First Name</label>
             </div>
             <div style="width:130%"  class='input-field col s12 l12 m12'>
                <input required="required" id="username" name="username" pattern="[0-9]{10}" maxlength="10"  type="text">
                  <label class="active" for="username">Mobile No.</label>
              </div>
             <div></div>
              <div  style="width:130%"  class='input-field col s12'>
                <input required="required"  id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" type="text">
              <label class="active" for="email">Email</label>
              </div>
                <div></div>
              <div  style="width:130%"  class='input-field col s12'>
                <input required="required" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password" >
               <label class="active" for="password">Password</label>
              </div>
             	<div style="width:130%"  class='input-field col s12'>
                <input required="required" id="Confirm_password" type="password" name="Confirm_password">
                <label class="active" for="Confirm_password">Confirm Password</label>
              </div>
              <br />
             <center>
              <div style="margin-left:calc(50% - 95px);margin-right:calc(50% - 155px);" class='row'>
                <button  type='submit' name='btn_login' onclick="validation()" class='col s12 btn btn-large waves-effect indigo'>Register</button>
              </div>
            </center>
   	       </div>
            <br/>
          <br>
     </div>
    </center>
<!--</form>-->
</body>
</html>

<!--<script>-->

<!--$('#form').on('submit', function(event) {-->
    <!--event.preventDefault();-->

          <!--$.ajax({-->
           <!--type:"POST",-->
           <!--url:'/user/create/',-->
           <!--data:{-->
           <!--first_name:$('#first_name').val(),-->
           <!--username:$('#username').val(),-->
           <!--email:$('#email').val(),-->
           <!--password:$('#password').val(),-->
           <!--csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()-->
           <!--},-->
            <!--success:function(){-->
            <!--M.toast({html: 'you have registered successfully'});-->
            <!--$("#form")[0].reset();-->
           <!--}-->
           <!--});-->
      <!--});-->

<!--</script>-->




 <!--if(data.success == true ){  M.toast({html: 'you have registered successfully'})-->
            <!--} else {-->
               <!--M.toast({html: 'you have registered successfully'})-->
            <!--};-->