<html>
 {% load static %}
<head>
     <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <script type="text/javascript" src="{% static 'script.js' %}" ></script>
</head>

<body  style="background-color:#eaeded">
<nav  style="background-color:#5d6d7e" class="nav-wrapper">
<div class="container-fluid  ">
    <div class="navbar-header">
        &nbsp;&nbsp;&nbsp;&nbsp;<a class="waves-effect waves-light btn" href="{% url 'homepage' %}">Viber <i class="material-icons right"></i></a>
    </div>
</div>
</nav>
  <div class="section"></div>
       <!--<form>-->
    <center>
      <h5 class="indigo-text">Please login your account</h5>
      <div class="container">
        <div class="card" style="display: inline-block; padding: 62px 128px 0px 78px; border: 1px solid #EEE;border-radius: 15px;">
              <div  style="width:130%" class='input-field col s12'>
                <input  required="required" id="username" name="username" pattern="[0-9]{10}"  maxlength="10" type="text">
                 <label class="active" for="username">Mobile No.</label>
              </div>
              <div style="width:130%" class='input-field col s12'>
             <input required="required" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" type="password" />
                <label class="active" for="password">Password</label>
              </div>
            <br/>
            <center>
              <div style="margin-left:calc(50% - 95px);margin-right:calc(50% - 163px);" class='row col s12'>
                <button type='submit' name='btn_login' onclick="validationlg()" class='col s12 btn btn-large waves-effect indigo'>Login</button>
              </div>
            </center>
             <center>
				<a class='pink-text' href='/forgotpassword'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Forgot Password?</b></a>
							</center>
             <a href="{% url 'index' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create account</a>
        </div>
      </div>
    </center>
       <!--</form>-->
</body>
</html>

