<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
       <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="{% static 'script.js' %}" ></script>
</head>
<body style ="background-color:#eaeded">
<nav  style="background-color:#5d6d7e" class="nav-wrapper">
<div class="container-fluid  ">
    <div class="navbar-header">
        &nbsp;&nbsp;&nbsp;&nbsp;<a class="waves-effect waves-light btn" href="{% url 'index' %}">Viber <i class="material-icons right"></i></a>
    </div>
</div>
</nav>
<form method="POST">
    <center>
      <h5 class="indigo-text">Reset Your Password</h5>
      <div class="container">
        <div class="card" style="display: inline-block; padding: 62px 128px 0px 78px; border: 1px solid #EEE; border-radius: 15px;">
             <div></div>
              <div  style="width:130%"  class='input-field col s12'>
                <input required="required" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password" >
               <label class="active" for="password">New Password</label>
              </div>
             	<div style="width:130%"  class='input-field col s12'>
                <input required="required" id="Confirm_password" type="password" name="Confirm_password">
                <label class="active" for="Confirm_password">Confirm Password</label>
              </div>
                <div></div>
              <br/>
             <center>
              <div style="margin-left:calc(50% - 95px);margin-right:calc(50% - 155px);" class='row'>
                <button  type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Submit</button>
              </div>
            </center>
   	       </div>
            <br/>
          <br>
     </div>
    </center>
</form>
</body>
</html>