﻿@{
    ViewBag.Title = "_Layout";
    
}


<!DOCTYPE html>
<html lang="en">
<head>
   <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    @* @RenderSection("Script",required :false)*@
    
</head>
    <tr>
<body style="background-color:#ae88ee;background-size:1700px 500px">



    <nav class="navbar navbar-expand-sm bg-light navbar-light" style="margin-top: 20px">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <button class="btn btn-basic" onclick="location.href='@Url.Action("FirstPage","Home")'" style="margin-left: 10px">Home</button>
            </li>
            <li class="nav-item">
                
                <button class="btn btn-basic"  onclick="location.href='@Url.Action("Index","Home")'"   style="margin-left: 10px">Register Visitors</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-basic" onclick="location.href='@Url.Action("VisitorShowRecord","Home")'"style="margin-left: 10px">View Visitors</button>
            </li>
            <li class="nav-item">
                <button data-val="true" id='Includebutton' data-val-required="button required"  name='Includebutton' class="btn btn-basic" style="margin-left: 10px" onclick="location.href='@Url.Action("SecurityPersonRegistration","Home")'"  >Add Security person</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-basic" onclick="location.href='@Url.Action("homepage","Home")'"  style="margin-left: 10px">Log Out</button>
            </li>
        </ul>
    </nav>
    
  
          
</body>   
 </tr> 
    
      <tr>
   @RenderBody()
     </tr>
    
    <tr>

    </tr>   
</html>

@section Script {
@*<script type="text/javascript">
    $(document).ready(function () {
    $('#selectedreportid').change(function(){
        var value =$(this).val();
        if (value == '1'){
            $('#includebutton').show();
        }
        else if (value == '2'){
            $('#includebutton').hide();
        }
    }
    );
}
)*@
    @*function hideonload() {
        $('#Includebutton').hide()
    }
</script> 
    }*@
 