.exp {
  display: table;
  width: 100%;
  height: 100%;
}
.exp .checkbox {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}


.task-complete-check label {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  position: relative;
  margin:0px;
}
.task-complete-check  label span {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 25px;
  height: 25px;
  transform-origin: center;
  border: 2px solid #43c86f;
  border-radius: 50%;
  transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}
.task-complete-check  label span:before {
  content: "";
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: #43c86f;
  position: absolute;
  transform: rotate(45deg);
  top: 11px;
  left: 8px;
  transition: width 50ms ease 50ms;
  transform-origin: 0% 0%;
}
.task-complete-check label span:after {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: #43c86f;
  position: absolute;
  transform: rotate(305deg);
     top: 15px;
    left: 9px;
  transition: width 50ms ease;
  transform-origin: 0% 0%;
}
.task-complete-check label:hover span:before {
  width: 5px;
  transition: width 100ms ease;
}
.task-complete-check label:hover span:after {
  width: 10px;
  transition: width 150ms ease 100ms;
}

.task-complete-check input[type="checkbox"] {
  display: none;
}
.task-complete-check input[type="checkbox"]:checked + label span {
  background-color: #43c86f;
  transform: scale(1.25);
}
.task-complete-check input[type="checkbox"]:checked + label span:after {
  width: 10px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
.task-complete-check input[type="checkbox"]:checked + label span:before {
  width: 5px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
.task-complete-check input[type="checkbox"]:checked + label:hover span {
  background-color: #43c86f;
  transform: scale(1.25);
}
.task-complete-check input[type="checkbox"]:checked + label:hover span:after {
  width: 10px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
.task-complete-check input[type="checkbox"]:checked + label:hover span:before {
  width: 5px;
  background: #fff;
  transition: width 150ms ease 100ms;
}
