﻿
.notification-wrap {
    display:table;
    height:380px;
}

.notification-container {
    display:table-cell;
    vertical-align:middle;
}

.k-state-selected, .k-grid td.k-state-selected:hover {
    background-color: transparent;
    border-color:transparent;
}

.task-recent .k-grid td {
     padding: 0 10px;
}

.tab-pane h3 {
    margin:0 10px 10px 0px;
}


.quriestabs a:hover, .quriestabs a:focus {
color:#428bca;
}

.attached-user {
		height:auto !important;
	}

.ul.sidebar-menu li a {
	padding:10px 0 10px 10px;
}
	
.quriestabs a.active {
	border-bottom:1px solid #428bca;
}

.query-count {
	padding:4px 4px 2px 4px !important;
}

ul.notificationul {
    width:100%;
    float:left;
}

ul.notificationul li {
    float:left;
    margin:03px;
    display:inline-block;
}

ul.notificationul li a {
    padding:0 0 4px 0;
}

.quriessortby a{
    color:#adadad;
    padding:25px 0 0 0;
}

.modal-footer button.btn {
	padding:2px 4px 2px 5px;
}

span.k-datepicker {
	margin:0 0 10px 0;
}

.btn-xs, .btn-group-xs > .btn {
	font-size: 14px;
}

.message-p p, .message-p .form-inline {
	margin-left:0px;
}

.nopadd {
	padding-left:0px;
}

.k-picker-wrap.k-state-default {
	border:0px;
}

span.k-datepicker span.k-state-focused input, span.k-datepicker span.k-state-hover input{
    background-color: #ebebeb;
    border-color: #adadad !important;
	padding:10px 0px !important;
}

input.k-input {
box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    background-color: #fff;
    border-color: #adadad !important;
	padding:10px 0px !important;
} 

.mb  {
	width: 33.33333333%; 
	float:none;
}

.mb {
	margin-bottom: 25px;
    float: left;
    width: 100%;
}

#div_Documents {
	margin:30px 0 0 0;
}

/*.address-partial-recent .k-grid-header th.k-header:nth-child(4)  {
	 width: 8% !important;
}

.address-partial-recent .k-grid-header th.k-header:last-child{
	width:12% !important;
}

.address-partial-recent .k-grid table td:nth-child(4) {
	   width:8% !important;
}

.address-partial-recent .k-grid table td:last-child {
    width:12% !important;
}

.task-recent .k-grid-header th.k-header:nth-child(4)  {
	 width: 8% !important;
}

.task-recent .k-grid-header th.k-header:last-child{
	width:15% !important;
}

.task-recent .k-grid table td:nth-child(4) {
	   width:8% !important;
}
.task-recent .k-grid table td:last-child {
    width:15% !important;
}

.job-recent .k-grid-header th.k-header:nth-child(4)  {
	 width: 8% !important;
}

.job-recent .k-grid-header th.k-header:last-child{
	width:18% !important;
}

.job-recent .k-grid table td:nth-child(4) {
	   width:8% !important;
}
.job-recent .k-grid table td:last-child {
    width:18% !important;
}

.fund-recent .k-grid-header th.k-header:nth-child(4)  {
	 width: 8% !important;
}

.fund-recent .k-grid-header th.k-header:last-child{
	width:12% !important;
}

.fund-recent .k-grid table td:nth-child(4) {
	   width:8% !important;
}
.fund-recent .k-grid table td:last-child {
    width:12% !important;
}

.firm-recent .k-grid table td, .firm-recent .k-grid-header th.k-header {
    width:70% !important;
}*/

#sidebar .sub-menu > .sub li:last-child , #sidebar .sub-menu > .sub li{
	
}

ul.sidebar-menu li ul.sub li a {
	color:#aeb2b7;
}

h3 .fa {
	display:none;
}

.content-panel {
	margin-top: 10px;
    padding: 15px;
    float: left;
	width:100%;
}

li.align .task-name{
	margin:05px 0 0 0;
}

.k-header { 
	border-color:transparent;
	background:transparent;
}

#div_TaskDocuments h2 {
	    display: block;
    float: none;
    font-size: 18px;
    font-weight: 300;
    border-bottom: 1px dashed #ccc;
    padding: 0px 0 12px 0;
}

.sidenav::before {
	background:#000;
	content:'';
	position:relative;
}

.sidenav-body .form-horizontal.style-form .form-group {
	border:0px;
	padding-bottom:0px;
}

.sidenav .col-md-9 {
	padding:0px;
}

.sidenav .btn {
	margin:0 0 10px 0;
}

.sidenav label.col-md-3 {
	padding-left: 0px;
    padding-right: 0px;
	padding-top:13px;
	font-size: 13px;
}

span.k-datepicker {
	width:100%;
}

hr {
	float:left;
	width:100%;
	border-color:#efefef;
}

.form-control.k-widget {
	width:100%;
	background: transparent;
}

.box-body .box-default {
	padding:15px;
}

.lunchFragment ~ .popupHeight .box-body .box-default {
	padding:15px;
}

.accounting-popup-body ,.accounting-popup-body .box.box-primary.box-popup-accounting {
	padding:0px;
}

.additonal-style .box a {
	text-decoration:none;
	outline:0px;
}

table.quries-list tr {
    cursor:pointer;
}

table.quries-list{
    margin-bottom:0px;
}

table.quries-list > tbody > tr > td
 {
      border-top:0px;
      border-bottom:1px solid #ddd;  
          background: #fff;
		     padding: 12px;
    color: #797979;
    font-family: 'Ruda', sans-serif;
    border-top: 1px solid #ddd;
}
table.quries-list tr td {
        /*color: #e3e3e3;*/
        border:0px;
    }

    .quries-list .propic {
        width: 100px;
    }

        .quries-list .propic img {
            width: 100%;
            max-width: 36px;
        }

    .quries-list .light-grey {
        color: #b3b3b3;
    }

.form-horizontal .form-group {
	margin:0px;
}

.date-picker input {
	width:100%;
}

.nav-tabs > li {
	width:auto !important;
}

.pagination {
	margin:0px !important;
}

.action-tools {
	text-align:right;
}

.action-tools a {
	margin:0 03px 0 0;
}

.additonal-style .col-md-3 {
		padding: 0px;
    margin: 0px;
}

.additonal-style  .green-header {
	padding:15px;
	margin-bottom:0px;
	border-top:1px solid #fff;
	border-right:1px solid #fff;
	border-left:1px solid #fff;
	border-bottom:03px solid #4ECDC4;
	background:#4ECDC4;
	min-height:78px;
}
.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a  {
	font-size: 14px;
    text-decoration: none;
}

.additonal-style  .green-header h3 {
    padding: 0px;
    margin: 0px;
    font-size: 12.5px;
    font-weight: 200;
    line-height: 22px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width:100%;
}

.radio-style {
    text-align:center;
	padding:0 15px;
}
.back-btn {
	float:right;
	margin-right:20px;
}

.back-btn a {
	background: #eee;
    padding: 10px;
    border-radius: 08px;
    font-size: 13px;
    font-weight: 200;
}

.field-validation-error span {
	color:red;
}

.panel-default {
	border-color:transparent;
	margin:0px;
}

.panels-new-style .panel-default>.panel-heading {
	background-color: transparent;
    margin: 0px;
    padding: 0px;
	border-color:transparent;
}

.panels-new-style .nav-tabs>li {
	margin-bottom: 0px;
	padding: 0px;
	text-align:center;
}

.panels-new-style .nav-tabs {
	background:#fff;
	box-shadow: 0px 3px 8px #eee;
}

.panels-new-style .nav-tabs>li>a {
	border-radius:0px;
	border: 0px solid #4ECDC4;
	margin-right: 0px;
	line-height:30px;
}

.panels-new-style .nav-tabs>li>a:hover {
	background:transparent;
	border-top: 0px solid #4ECDC4;
    border-left: 0px solid #4ECDC4;
    border-right: 0px solid #4ECDC4;
    border-bottom: 2px solid #4ECDC4;
}

.panels-new-style .nav-tabs>li.active>a, .panels-new-style .nav-tabs>li.active>a:focus, .panels-new-style .nav-tabs>li.active>a:hover {
	color: #555;
    cursor: default;
    background-color:#fff;
    border-top: 0px solid #4ECDC4;
    border-left: 0px solid #4ECDC4;
    border-right: 0px solid #4ECDC4;
    border-bottom: 2px solid #4ECDC4;
	outline:0px;
}

.panels-new-style .panel-heading {
	border-bottom:0px;
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
	padding:0px;
}

.bg-blue {
    background-color: #0073b7 !important;
	color:#fff;
} 

.establishment_documents {
	margin-bottom:15px;
}

.establishment_documents .widget-user-2 .widget-user-header{
	height:200px;
}

.establishment_documents .green-panel .green-header {
	margin-bottom:0px;
	padding: 15px;
    line-height: 50px;
	float:left;
	width:100%;
	min-height:124px;
}

.establishment_documents .green-panel .green-header, + .green-panel h3 {
	background:#fff;
	color:#000;
	transition: all 0.2s ease;
}

.establishment_documents .widget-title h3 {
	font-size: 16px;
    font-weight: lighter;
    line-height: 22px;
	margin:0px;
}

.box-icon {
	font-size: 40px;
    color: #fff;
    padding: 10px 0;
    float: left;
    width: 100%;
}

.widget-user-header .info-box-icon {
	padding:16px 0;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 40px;
}

.widget-user-2 .widget-user-username {
	margin-top: 15px !important;
}

.panel-collapse-clickable {
     cursor: pointer;  
}

/********Transfer********/
.transfer .nav-tabs { border-bottom: 2px solid #DDD; background:transparent;}
.transfer .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.transfer .nav-tabs > li > a { border: none; color: #666; }
.transfer .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.transfer .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.transfer .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.transfer .tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.transfer .tab-pane { padding: 15px 0; }
.transfer .card { box-shadow:none; background:transparent;}

.searchform
{
display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-xs {
  width: 20px;
  height: 20px;
  padding: 10px 10px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

