
/*------------------------------------------------------------------
[1.9. Shadows Helpers]
*/
.box-shadow {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.box-shadow.shadow-lg {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.box-shadow.shadow-xlg {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/*------------------------------------------------------------------
[3.7. Labels]
*/
.label {
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  border: 0;
  font-size: 100%;
  font-weight: 400;
  padding: .2em .6em .3em;
}
.label-default {
  color: #ffffff;
  background-color: #292929;
}
.label-primary {
  color: #ffffff;
  background-color: #29c7ca;
}
.label-success {
  color: #ffffff;
  background-color: #1dbc9c;
}
.label-info {
  color: #ffffff;
  background-color: #34b5dc;
}
.label-warning {
  color: #ffffff;
  background-color: #ffc107;
}
.label-danger {
  color: #ffffff;
  background-color: #cd4237;
}
.label-inverse {
  color: #292929;
  background-color: #fefefe;
}
.label-white {
  color: #292929;
  background-color: #ffffff;
}
.label-inverse,
.label-white {
  border: 1px solid #cccccc;
}


/*------------------------------------------------------------------
[4.1.3. Checkboxes and Radiobuttons]
*/
/*input[type=checkbox],
input[type=radio] {
  cursor: pointer;
  height: 18px;
  left: -9999px;
  opacity: 0;
  position: absolute;
  width: 18px;
  z-index: 12;
}*/
input[type=checkbox]:checked,
input[type=radio]:checked,
input[type=checkbox]:focus,
input[type=radio]:focus {
  outline: none !important;
}
input[type=checkbox]:checked ~ .text:before,
input[type=radio]:checked ~ .text:before {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  background-color: #f5f8fc;
  border-color: #333333;
  content: '\f00c';
  display: inline-block;
}
input[type=checkbox]:hover ~ .text :before,
input[type=radio]:hover ~ .text :before {
  border-color: #737373;
}
input[type=checkbox]:active ~ .text :before,
input[type=radio]:active ~ .text :before {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
input[type=checkbox]:disabled ~ .text,
input[type=radio]:disabled ~ .text,
input[type=checkbox][disabled] ~ .text,
input[type=radio][disabled] ~ .text,
input[type=checkbox].disabled ~ .text,
input[type=radio].disabled ~ .text {
  color: rgba(0, 0, 0, 0.4);
}
input[type=checkbox]:disabled ~ .text:before,
input[type=radio]:disabled ~ .text:before,
input[type=checkbox][disabled] ~ .text:before,
input[type=radio][disabled] ~ .text:before,
input[type=checkbox].disabled ~ .text:before,
input[type=radio].disabled ~ .text:before {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background-color: #f5f5f5 !important;
  border-color: #e5e5e5 !important;
  color: #e5e5e5;
}
input[type=checkbox] ~ .text,
input[type=radio] ~ .text {
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
  min-height: 18px;
  min-width: 18px;
  position: relative;
  z-index: 11;
}
input[type=checkbox] ~ .text:before,
input[type=radio] ~ .text:before {
  background-color: #fafafa;
  border: 1px solid #c8c8c8;
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #333333;
  content: "\a0";
  display: inline-block;
  font-family: fontAwesome;
  font-size: 13px;
  font-weight: bold;
  height: 18px;
  line-height: 16px;
  margin-bottom: 2px;
  margin-right: 5px;
  min-width: 18px;
  text-align: center;
  vertical-align: middle;
}
input[type=checkbox] ~ .text:hover:before,
input[type=radio] ~ .text:hover:before {
  border-color: #737373;
}
input[type=checkbox] ~ .text:active:before,
input[type=radio] ~ .text:active:before {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
input[type=radio] ~ .text:before {
  border-radius: 100%;
  font-family: FontAwesome;
  font-size: 8px;
  line-height: 17px;
  min-width: 19px;
}
input[type=radio]:checked ~ .text:before {
  content: "\f111";
}
input[type=radio].radio-default:checked ~ .text {
  color: #292929;
}
input[type=radio].radio-default:checked ~ .text:before {
  background-color: #ffffff;
  border-color: #292929;
  color: #292929;
}
input[type=radio].radio-default ~ .text {
  color: #292929;
}
input[type=radio].radio-default ~ .text:before {
  border-color: #292929;
  color: #292929;
}
input[type=radio].radio-primary:checked ~ .text {
  color: #29c7ca;
}
input[type=radio].radio-primary:checked ~ .text:before {
  background-color: #ffffff;
  border-color: #29c7ca;
  color: #29c7ca;
}
input[type=radio].radio-primary ~ .text {
  color: #29c7ca;
}
input[type=radio].radio-primary ~ .text:before {
  border-color: #29c7ca;
  color: #29c7ca;
}
input[type=radio].radio-success:checked ~ .text {
  color: #1dbc9c;
}
input[type=radio].radio-success:checked ~ .text:before {
  background-color: #ffffff;
  border-color: #1dbc9c;
  color: #1dbc9c;
}
input[type=radio].radio-success ~ .text {
  color: #1dbc9c;
}
input[type=radio].radio-success ~ .text:before {
  border-color: #1dbc9c;
  color: #1dbc9c;
}
input[type=radio].radio-info:checked ~ .text {
  color: #34b5dc;
}
input[type=radio].radio-info:checked ~ .text:before {
  background-color: #ffffff;
  border-color: #34b5dc;
  color: #34b5dc;
}
input[type=radio].radio-info ~ .text {
  color: #34b5dc;
}
input[type=radio].radio-info ~ .text:before {
  border-color: #34b5dc;
  color: #34b5dc;
}
input[type=radio].radio-warning:checked ~ .text {
  color: #ffc107;
}
input[type=radio].radio-warning:checked ~ .text:before {
  background-color: #ffffff;
  border-color: #ffc107;
  color: #ffc107;
}
input[type=radio].radio-warning ~ .text {
  color: #ffc107;
}
input[type=radio].radio-warning ~ .text:before {
  border-color: #ffc107;
  color: #ffc107;
}
input[type=radio].radio-danger:checked ~ .text {
  color: #cd4237;
}
input[type=radio].radio-danger:checked ~ .text:before {
  background-color: #ffffff;
  border-color: #cd4237;
  color: #cd4237;
}
input[type=radio].radio-danger ~ .text {
  color: #cd4237;
}
input[type=radio].radio-danger ~ .text:before {
  border-color: #cd4237;
  color: #cd4237;
}
input[type=radio].radio-inverse:checked ~ .text {
  color: #fefefe;
}
input[type=radio].radio-inverse:checked ~ .text:before {
  background-color: #292929;
  border-color: #fefefe;
  color: #fefefe;
}
input[type=radio].radio-inverse ~ .text {
  color: #fefefe;
}
input[type=radio].radio-inverse ~ .text:before {
  border-color: #fefefe;
  color: #fefefe;
}
input[type=radio].radio-white:checked ~ .text {
  color: #ffffff;
}
input[type=radio].radio-white:checked ~ .text:before {
  background-color: #292929;
  border-color: #ffffff;
  color: #ffffff;
}
input[type=radio].radio-white ~ .text {
  color: #ffffff;
}
input[type=radio].radio-white ~ .text:before {
  border-color: #ffffff;
  color: #ffffff;
}
input[type=radio].radio-inverse:checked ~ .text:before,
input[type=radio].radio-white:checked ~ .text:before {
  border-color: #292929;
}
input[type=radio].radio-inverse ~ .text,
input[type=radio].radio-white ~ .text {
  color: #292929 !important;
}
input[type=radio].radio-inverse ~ .text:before,
input[type=radio].radio-white ~ .text:before {
  border-color: #292929;
  color: #292929;
}
.radio label,
.checkbox label {
  padding-left: 0;
}
input[type=checkbox].checkbox-default:checked ~ .text {
  color: #292929;
}
input[type=checkbox].checkbox-default:checked ~ .text:before {
  background-color: #ffffff;
  border-color: #292929;
  color: #292929;
}
input[type=checkbox].checkbox-default ~ .text {
  color: #292929;
}
input[type=checkbox].checkbox-default ~ .text:before {
  border-color: #292929;
  color: #292929;
}
input[type=checkbox].checkbox-primary:checked ~ .text {
  color: #29c7ca;
}
input[type=checkbox].checkbox-primary:checked ~ .text:before {
  background-color: #ffffff;
  border-color: #29c7ca;
  color: #29c7ca;
}
input[type=checkbox].checkbox-primary ~ .text {
  color: #29c7ca;
}
input[type=checkbox].checkbox-primary ~ .text:before {
  border-color: #29c7ca;
  color: #29c7ca;
}
input[type=checkbox].checkbox-success:checked ~ .text {
  color: #1dbc9c;
}
input[type=checkbox].checkbox-success:checked ~ .text:before {
  background-color: #ffffff;
  border-color: #1dbc9c;
  color: #1dbc9c;
}
input[type=checkbox].checkbox-success ~ .text {
  color: #1dbc9c;
}
input[type=checkbox].checkbox-success ~ .text:before {
  border-color: #1dbc9c;
  color: #1dbc9c;
}
input[type=checkbox].checkbox-info:checked ~ .text {
  color: #34b5dc;
}
input[type=checkbox].checkbox-info:checked ~ .text:before {
  background-color: #ffffff;
  border-color: #34b5dc;
  color: #34b5dc;
}
input[type=checkbox].checkbox-info ~ .text {
  color: #34b5dc;
}
input[type=checkbox].checkbox-info ~ .text:before {
  border-color: #34b5dc;
  color: #34b5dc;
}
input[type=checkbox].checkbox-warning:checked ~ .text {
  color: #ffc107;
}
input[type=checkbox].checkbox-warning:checked ~ .text:before {
  background-color: #ffffff;
  border-color: #ffc107;
  color: #ffc107;
}
input[type=checkbox].checkbox-warning ~ .text {
  color: #ffc107;
}
input[type=checkbox].checkbox-warning ~ .text:before {
  border-color: #ffc107;
  color: #ffc107;
}
input[type=checkbox].checkbox-danger:checked ~ .text {
  color: #cd4237;
}
input[type=checkbox].checkbox-danger:checked ~ .text:before {
  background-color: #ffffff;
  border-color: #cd4237;
  color: #cd4237;
}
input[type=checkbox].checkbox-danger ~ .text {
  color: #cd4237;
}
input[type=checkbox].checkbox-danger ~ .text:before {
  border-color: #cd4237;
  color: #cd4237;
}
input[type=checkbox].checkbox-inverse:checked ~ .text {
  color: #fefefe;
}
input[type=checkbox].checkbox-inverse:checked ~ .text:before {
  background-color: #292929;
  border-color: #fefefe;
  color: #fefefe;
}
input[type=checkbox].checkbox-inverse ~ .text {
  color: #fefefe;
}
input[type=checkbox].checkbox-inverse ~ .text:before {
  border-color: #fefefe;
  color: #fefefe;
}
input[type=checkbox].checkbox-white:checked ~ .text {
  color: #ffffff;
}
input[type=checkbox].checkbox-white:checked ~ .text:before {
  background-color: #292929;
  border-color: #ffffff;
  color: #ffffff;
}
input[type=checkbox].checkbox-white ~ .text {
  color: #ffffff;
}
input[type=checkbox].checkbox-white ~ .text:before {
  border-color: #ffffff;
  color: #ffffff;
}
input[type=checkbox].checkbox-inverse:checked ~ .text:before,
input[type=checkbox].checkbox-white:checked ~ .text:before {
  border-color: #292929;
}
input[type=checkbox].checkbox-inverse ~ .text,
input[type=checkbox].checkbox-white ~ .text {
  color: #292929 !important;
}
input[type=checkbox].checkbox-inverse ~ .text:before,
input[type=checkbox].checkbox-white ~ .text:before {
  border-color: #292929;
  color: #292929;
}
.checkbox-inline + .checkbox-inline,
.radio-inline + .radio-inline {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 10px;
}
.checkbox-inline,
.radio-inline {
  margin-top: 0;
}
