.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
	color: #797979;
    font-family: 'Ruda', sans-serif;
    font-size: 12px;
    border-bottom:0px;
	border-right:0px;
	border-left:0px;
}

.k-grid tbody td p {
	    font-weight: bold;
    font-size: 16px;
    padding: 05px 0;
}

.k-alt, .k-pivot-layout>tbody>tr:first-child>td:first-child, .k-resource.k-alt, .k-separator {
    background-color: transparent;
} 

.k-button.k-state-active, .k-button:active, .k-draghandle.k-state-selected:hover, .k-state-selected {
	background-image:transparent;
}

.k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list>.k-state-highlight, .k-list>.k-state-selected, .k-marquee-color, .k-panel>.k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited {
	    background-color: #797979;
    border-color:#797979;
}

table tbody tr:nth-child(odd) {
	background:#f9f9f9;
}

.k-grid td {
	    border-width: 0 0 0 0px;
		padding:0 0px;
        font-size:12px;
}

#accountantslist table tr td{
	    padding: 8px;
    line-height: 1.42857143;
    border-top: 1px solid #ddd;
}

#thirdpartyintegration table tr td{
	    padding: 8px;
    line-height: 1.42857143;
    border-top: 1px solid #ddd;
}

.attached-user.k-grid td {
    padding: 12px;
    color: #797979;
    font-family: 'Ruda', sans-serif;
    border-top: 1px solid #ddd;
}

.k-grid-header th.k-with-icon .k-link {
	margin-right: 0px;
	margin: -.5em -.6em -.4em 0;
     padding: .5em .6em .4em 0; 
	 color: #797979;
    font-family: 'Ruda', sans-serif;
    font-size: 12px;
	margin-left: 18px;
}

	.k-grid-header th.k-header {
	color: #797979;
    font-family: 'Ruda', sans-serif;
    font-size: 12px;
	}

	.k-filter-row>th:first-child, .k-grid tbody td:first-child, .k-grid tfoot td:first-child, .k-grid-header th.k-header:first-child{
	color: #797979;
    font-family: 'Ruda', sans-serif;
    font-size: 12px;
	} 
	
	.k-icon {
		color: #797979;
		font-size:14px;
	}
	
	.k-gantt-toolbar .k-state-default, .k-grid .k-grouping-header, .k-grid-header, .k-grid-header-wrap, .k-grouping-header .k-group-indicator, .k-header, .k-pager-wrap, .k-pager-wrap .k-link, .k-pager-wrap .k-textbox {
		background:transparent;
	}
	
	.k-header>.k-grid-filter {
		float:left;
	}

.k-grid tr:hover {
	background:transparent;
}

.k-gantt-toolbar .k-state-default, .k-grid .k-grouping-header, .k-grid-header, .k-grid-header-wrap, .k-grouping-header .k-group-indicator, .k-header, .k-pager-wrap, .k-pager-wrap .k-link, .k-pager-wrap .k-textbox {
	background-color: #fff;
}

.k-block, .k-draghandle, .k-inline-block, .k-widget {
	border-width:0px;
	}

.k-grid-content {
	border-bottom-width: 1px;
	/*overflow-y: auto;*/
}

.k-grid-footer-wrap, .k-grid-header-wrap {
	border-width: 0 0px 0 0
}


div.k-grid-footer, div.k-grid-header {
	border-bottom-width: 0px;
}