	 /* The side navigation menu */
	 
	.sidenav-body {
		padding:20px;
		float:left;
		width:100%;
	}
	 
	.sidenav {
		height: 100%; /* 100% Full-height */
		width: 0; /* 0 width - change this with JavaScript */
		position: fixed; /* Stay in place */
		z-index: 1; /* Stay on top */
		top: 0;
		right: 0;
		background-color:white; /* Black*/
		overflow-x: hidden; /* Disable horizontal scroll */
		padding-top: 0px; /* Place content 60px from the top */
		transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
		z-index:999;
	}

	.sidenav .sidenav-header {
        background: #4ECDC4;
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        float: left;
        width: 100%;
        position: relative;
    }

	
		/* Position and style the close button (top right corner) */
	.sidenav .closebtn {
		position: relative;
		right: 25px;
		font-size: 20px;
		color: #fff;
		margin-left: 50px;
	}

	.sidenav .sidenav-header h4{
		/*position:absolute;*/
	}
	
	.overlayer-sidebar {
		position: fixed;
		display:none;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(250,250,250,.8);
		z-index: 1;
		content:'';
	}
	
	.show {
		display:block !important;
	}
	
	.wid-850 {
		width:850px;
	}

    .wid-750 {
		width:750px;
	}
	
	.freeze {
		position:fixed;
	}

	/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
	@media screen and (max-height: 450px) {

	} 