/** ====================
 * Lista de Comentarios
 =======================*/
 
.yima-on-off-btn label, .yima-on-off-btn label.col-md-4 {
	 padding:0px;
	 margin:0px;
 }
 
 
 .yima-on-off-btn .form-group {
	float:left; 
	width:100%;
	margin: 0 0 5px 0;
 }
 
 .deleteicon {
	 font-size:14px;
 }
 
 
 .by-author    {
	display: block;
    float: none;
    font-size: 18px;
    font-weight: 300;
    border-bottom: 1px dashed #ccc;
    padding: 0px 0 12px 0;
    margin: 0px;
}
 
 .query-title {
    font-size: 13px;
    color: #595959;
 }
 
 .text-muted, .filedetails {
	 font-size:12px;
 }
 
.comments-container {
	margin: 60px auto 15px;
	width: 768px;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.add-comments-fixed-bottom {
	position:fixed;
	bottom:0px;
}

.comment-slim-scroll {
	margin-bottom:30px;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

ul.comments-list {
	list-style:none;
}

.comments-list {
	margin-top: 30px;
	position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	left: 73px;
	top: 0;
}

.comments-list:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 27px;
	width: 7px;
	height: 7px;
	border: 3px solid #dee1e3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
	content: '';
	width: 60px;
	height: 2px;
	background: #c7cacb;
	position: absolute;
	top: 25px;
	left: -55px;
}

.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	z-index: 99;
	float: left;
	border: 3px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/

.comments-list .comment-box {
	width: 515px;
	float: left;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	margin-left: 20px;
}

.comment-box {
	background:#f2f2f2;
	}
	
#CommentsDocuments h2 {
	font-size: 16px;
    margin: 25px 0 8px 0;
    border-bottom: 1px dashed #ccc;
    padding: 0px 0 12px 0;
}	

.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #f2f2f2;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.reply-list .comment-box {
	width: 460px;
}
.comment-box .comment-head {
	background: #f2f2f2;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;	
}

.comment-box .comment-head i {
	position: relative;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
	margin-bottom: 0px;
    padding-bottom: 0px;
}

#CommentsAttachDocuments {
	float:left;
	width:100%;
	padding: 0 15px;
}

#CommentsAttachDocuments h2 {
	display: block;
    float: none;
    font-size: 18px;
    font-weight: 300;
    margin: 25px 0 8px 0;
    border-bottom: 1px dashed #ccc;
    padding: 0px 0 12px 0;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 9px;
}

.comment-box .comment-content {
	background: #f2f2f2;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}

.headingtext {
	font-size:14px;
}

.comment-head .tools {
	float:right;
}

.comment-head .tools a {
	color:#000;
	margin:0 8px 0 0;
}


/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
	.comments-container {
		width: 480px;
	}

	.comments-list .comment-box {
		width: 390px;
	}

	.reply-list .comment-box {
		width: 320px;
	}
}

}


/****SCROLL Bar*****/
/*************** SCROLLBAR MAC OS X ***************/
 
.scrollbar-macosx > .scroll-element,
.scrollbar-macosx > .scroll-element div
{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}
 
.scrollbar-macosx > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
 
.scrollbar-macosx > .scroll-element .scroll-element_track { display: none; }
.scrollbar-macosx > .scroll-element .scroll-bar {
    background-color: #6C6E71;
    display: block;
 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
 
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
 
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
.scrollbar-macosx:hover > .scroll-element .scroll-bar,
.scrollbar-macosx > .scroll-element.scroll-draggable .scroll-bar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}
 
 
.scrollbar-macosx > .scroll-element.scroll-x {
    bottom: 0px;
    height: 0px;
    left: 0;
    min-width: 100%;
    overflow: visible;
    width: 100%;
}
 
.scrollbar-macosx > .scroll-element.scroll-y {
    height: 100%;
    min-height: 100%;
    right: 0px;
    top: 0;
    width: 0px;
}
 
/* scrollbar height/width & offset from container borders */
.scrollbar-macosx > .scroll-element.scroll-x .scroll-bar { height: 7px; min-width: 10px; top: -9px; }
.scrollbar-macosx > .scroll-element.scroll-y .scroll-bar { left: -9px; min-height: 10px; width: 7px; }
 
.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_outer { left: 2px; }
.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_size { left: -4px; }
 
.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_outer { top: 2px; }
.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_size { top: -4px; }
 
/* update scrollbar offset if both scrolls are visible */
.scrollbar-macosx > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -11px; }
.scrollbar-macosx > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -11px; }

.message {
	float:left;
	width:100%;
	}

.message-view.collapsed {
    right: -700px;
}

.message-view {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border-right: 1px solid #eee;
    bottom: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 700px;
	opacity:2;
    z-index: 999;
	border-top:10px solid #26b6b9;
	background:#fff;
}

.message .header {
    font-weight: normal;
    padding: 28px 28px 10px;
	display:block;
	float: left;
	height:100%;
	width: 100%;
}

.message .message-container {
    font-weight: 300;
    list-style: none;
    padding: 0 30px;
}

.message .message-container li {
    background: #fff;
    border: 1px solid #eee;
    margin: 0 0 30px 0;
    padding: 25px;
    position: relative;
}

.message .message-container li .details {
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
    overflow: hidden;
    padding-bottom: 20px;
}

.message .header .message-title {
	position:absolute;
	right:30px;
}

.message .header .message-title i {
    float: right;
    font-size: 40px;
}


.message h2 {
	margin:25px 0 0px 0;
}

#QuickViewDocuments {
	float:left;
	width:100%;
	margin:20px 0;
}

#QuickViewDocuments h2, .sidenav-body h2 {
    display: block;
    float: none;
    font-size: 18px;
    font-weight: 300;
    border-bottom: 1px dashed #ccc;
    padding: 0px 0 12px 0;
	margin:0px;
}

#TaskDocuments, #TaskCommentsView {
	float:left;
	width:100%;
}

.TaskPermissionModule select {
width:100%;
}