﻿@{
   ViewBag.Title = "ChangePassword";
   Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Change passward</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <form id="form1" runat="server">
        <div class="container" style="width:500px;height:500px;margin-top:50px">
            
            <div class="panel panel-primary">
                <div class="panel-heading">Change Passward</div>
                <div class="panel-body">
                    <div>
                        <label>Passward:</label><input type="text" class="form-control" placeholder="Enter New Passward"/>
                    </div>
                    
                </div>
                 <div style="margin-top:20px;margin-left:100px">
                        <button class="btn btn-primary"  type="submit"> Click To Change </button>
                        <button class="btn btn-success"  type="reset"> Reset </button>
                    </div>
            </div>
        </div>
    </form>
   
</body>
</html>
