﻿@{
   ViewBag.Title = "FirstPage";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="~/images/lock.jpg" />

   @*   @section Script {
          <script type="text/javascript">
              $(document).ready(function () {
                  $('#SelectedReportId').Change(function () {
                      var value = $(this).val();
                      if (value == '1') {
                          $('#Includebutton').show();
                      }
                      else if (value == '2') {
                          $('#Includebutton').hide();
                      }
                  }
                  );
              }
          )
</script> 
          }*@

  
