﻿@model NICProject.Models.DBConnect
@{
   ViewBag.Title = "homepage";
   Layout = "~/Views/Shared/_Layout2.cshtml";
}


@using (Html.BeginForm("Authorize", "Home", FormMethod.Post))
{
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <form id="form1" runat="server">

        <div class="panel-group" style="width: 500px; height: 500px; margin-left: 400px; margin-top: 50px">

            <div class="panel-primary" style="border: 1px solid; padding: 10px; border-radius: 10px">
                <div class="panel-heading">Login</div>
                <div class="panel-body">
                  <div>
                      <div><label>User Type</label></div>
                       <div class="form-group">
                                <select data-val="true" data-val-required="button required" id='SelectedReportedId' name="SelectedReportedId" class="form-control" >
                                    <option value="1">Admin</option>                     
                                    <option value="2">Security Person</option>
                                </select>                         
                            </div>
                  </div>
                   <label>UserName</label>
                    <input type="text" class="form-control" required="required" name="UserName"  placeholder="Enter User Name" />
                  @* @Html.EditorFor(Model => Model.UserName)*@
                    @*@Html.ValidationMessageFor(Model => Model.UserName,"", new { @class = " text-danger"})*@
                    <br />
                    <label>Passward</label>
               @*    @Html.EditorFor(Model => Model.Password)*@

                   <input type="text" class="form-control"  required="required" name="Password" placeholder="Enter Passward" />
                    @* @Html.EditorFor(Model => Model.Password, new { AllowHtmlAttribute = new { @class = " form-control"} })
                    @Html.ValidationMessageFor(Model => Model.Password,"", new { @class = " text-danger"})*@
                </div>
                <div class="panel-footer">
                    <div style="display: inline-block; margin-left: 150px">
                        <button class="btn btn-primary btn-lg"  type="submit" name="submit">Login</button>
                    </div>
                    <div style="display: inline-block; margin-left: 30px">
                        <button class="btn btn-success btn-lg" onclick="location.href='@Url.Action("ChangePassword","Home")'" type="reset">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
}
@*@section Script {
          <script type="text/javascript">
              $(document).ready(function () {
                  $('#SelectedReportId').Change(function () {
                      var value = $(this).val();
                      if (value == '1') {
                          $('#Includebutton').show();
                      }
                      else if (value == '2') {
                          $('#Includebutton').hide();
                      }
                  }
                  );
              }
          )
   </script> 
}*@
