﻿@model NICProject.Models.Employee

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { target = "_blank" }))
{

    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />

    <link href="css/to-do.css" rel="stylesheet" />
    <link href="css/table-responsive.css" rel="stylesheet" />
    <link href="css/style-responsive.css" rel="stylesheet" />
    
@*<head runat="server">

    <title>Visitors Entry Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>*@
 
  
    <body style="background-color: #e0e3ee">
        <form id="form1" runat="server">
            <div class="panel-group">
                <div class="panel">
                    <div class="panel-heading" style="text-align: center; margin-top: 10px; margin-left: 10px; margin-right: 10px; border: 1px solid; padding: 5px; border-radius: 10px; background-color: #0a69c4; color: white">
                        <h5><b>VISITORS ENTRY FORM</b></h5>
                    </div>
                    <div style="border: 1px solid; padding: 10px; border-radius: 10px; margin-top: 10px; margin-bottom: 10px">
                        <div class="panel-body" style="margin-left: 180px; margin-top: 20px">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Visitor Id</label><input type="number" required="required" name="Id" class="form-control" />
                                </div>
                                <div class="col-sm-3">
                                    <label>Identification type</label>
                                    <div class="form-group">

                                        <select name="Identification" class="form-control">
                                            <option>Adhar Card</option>
                                            <option>Driving License</option>
                                            <option>Pan Card</option>
                                            <option>Id Card</option>
                                        </select>


                                    </div>

                                </div>
                                <div class="col-sm-3">
                                    <label>Card Number </label>
                                    <input type="number" required="required" name="CName" class="form-control" />
                                </div>
                            </div>
                            <div style="margin-top: 20px" class="row">
                                <div class="col-sm-3">
                                    <label>First Name</label>&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" name="FName" required="required" class="form-control" placeholder="Enter First Name"  />
                                </div>
                                <div class="col-sm-3">
                                    <label>Middle Name</label>&nbsp&nbsp<input type="text" name="MName" required="required" class="form-control" placeholder="Enter Middle Nmae " />
                                </div>
                                <div class="col-sm-3">
                                    <label>Last Name</label>&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" required="required" name="LName" class="form-control" placeholder="Enter Last Name" />
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px">
                                <div class="col-sm-9">
                                    <label>Address</label><input type="text" required="required" name="Address" class="form-control" placeholder="Enter Address" />
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px">
                                <div class="col-sm-3">
                                    <label>Phone Number</label><input type="text" required="required" name="PNumber" class="form-control" placeholder="Enter Phone Number" />
                                </div>
                                <div class="col-sm-3">
                                    <label>Date</label><input type="date"required="required"  name="Date" class="form-control" />
                                </div>
                                <div class="col-sm-3">
                                    <label>Time In</label><input type="time" required="required" name="Time" class="form-control" />
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px">
                                <div class="col-sm-9">
                                    <label>From</label>
                                    <div class="form-group">
                                        <select name="Company" class="form-control">
                                            <option>Government</option>
                                            <option>Private Company</option>
                                            <option>Personal Work</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px">
                                <div class="col-sm-6">
                                    <label>Purpose to Visit</label><input required="required" type="text" name="Purpose" class="form-control" />
                                </div>
                                <div class="col-sm-3">
                                    <br />
                                    <button class="btn btn-primary btn-lg" type="submit">Register</button>
                                </div>
                            </div>

                            <div style="display: inline-block; margin-top: 20px">
                                <label>
                                    Image Upload:<asp:fileupload id="FileUpload1" runat="server" />
                                </label>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
    <script type="text/javascript">
        $('#buttonid').click(function () {
            document.location = '@Url.Action("PrintIndex", "Home")';
         });
    </script>

}





