﻿

@model NICProject.Models.UserLogin

@{
   ViewBag.Title = "SecurityPersonRegistration";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SecurityPersonRegistration", "Home", FormMethod.Post))
{
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Registration Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <form id="form1" runat="server">

        <div class="panel-group" style="width: 500px; height: 500px; margin-left: 400px; margin-top: 50px">

            <div class="panel-primary" style="border: 1px solid; padding: 10px; border-radius: 10px">
                <div class="panel-heading">Login</div>
                <div class="panel-body">

                    <label>User Name</label>
                    <input type="text" name="UserName" required="required" class="form-control" placeholder="Enter User Name" />
                    <label>Password</label>
                    <input type="text" name="Password" required="required" class="form-control" placeholder="Enter Passward" />
                </div>
                <div class="panel-footer">
                    <div style="display: inline-block; margin-left: 150px">
                        <button class="btn btn-primary btn-lg" type="submit">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
}
