﻿
@{
    ViewBag.Title = "VisitorShowRecord";
    Layout = "~/Views/Shared/_Layout.cshtml";
 }
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
<table class ="table table-border table-striped">
    <tr>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    { 
        <tr>
            <td>@Model.Rows[i][3]</td>
            <td>@Model.Rows[i][4]</td>
            <td>@Model.Rows[i][5]</td>
           <td><button class="btn btn-basic" onclick="location.href='@Url.Action("Edit", "Home", new {@id=@Model.Rows[i][0] })'"  style="margin-left: 10px"> View Detail </button></td>
        </tr>
    }

</table>
</html>
