﻿@using NICProject.Models

@{
   ViewBag.Title = "Index";
   Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var prod = (Employee)ViewData["MyVisitor"];//it is the keyvalue "MyEmployee" which is coming from controller side to invoke the model 
}


<link href="css/bootstrap.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />

<link href="css/to-do.css" rel="stylesheet" />
<link href="css/table-responsive.css" rel="stylesheet" />
<link href="css/style-responsive.css" rel="stylesheet" />

<body style="background-color: #e0e3ee">
    <form id="form1" runat="server">
    <div class="panel-group">
        <div class="panel">
            <div class="panel-heading" style="text-align: center; margin-top: 10px; margin-left: 10px; margin-right: 10px; border: 1px solid; padding: 5px; border-radius: 10px; background-color: #0a69c4; color: white">
                <h5><b>VISITORS ENTRY FORM</b></h5>
            </div>
            <div style="border: 1px solid; padding: 10px; border-radius: 10px; margin-top: 10px; margin-bottom: 10px">
                <div class="panel-body" style="margin-left: 180px; margin-top: 20px">
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Visitor Id</label><label type="number" name="Id" class="form-control" >@prod.Id</label>
                        </div>
                        <div class="col-sm-3">
                            <label>Identification type</label>
                            <label type="number" name="Identification" class="form-control" >@prod.Identification</label>
                        </div>
                        <div class="col-sm-3">
                            <label>Card Number </label>
                            <label type="number" name="CName" class="form-control" >@prod.CardNo</label>
                        </div>
                    </div>
                    <div style="margin-top: 20px" class="row">
                        <div class="col-sm-3">
                            <label>First Name</label>&nbsp&nbsp&nbsp&nbsp&nbsp<label type="text" name="FName" class="form-control" placeholder="Enter First Name" >@prod.FirstName</label>
                        </div>
                        <div class="col-sm-3">
                            <label>Middle Name</label>&nbsp&nbsp<label type="text" name="MName" class="form-control" placeholder="Enter Middle Nmae " >@prod.MiddleName</label>
                        </div>
                        <div class="col-sm-3">
                            <label>Last Name</label>&nbsp&nbsp&nbsp&nbsp&nbsp<label type="text" name="LName"   class="form-control" placeholder="Enter Last Name" >@prod.LastName</label>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px">
                        <div class="col-sm-9">
                            <label>Address</label><label type="text" name="Address" class="form-control" placeholder="Enter Address" >@prod.Address</label>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 20px">
                        <div class="col-sm-3">
                            <label>Phone Number</label><label type="text" name="PNumber"  class="form-control" placeholder="Enter Phone Number" >@prod.Mobile</label>
                        </div>
                        <div class="col-sm-3">
                            <label>Date</label><label type="date" name="Date" class="form-control" >@prod.Date</label>
                        </div>
                        <div class="col-sm-3">
                            <label>Time In</label><label type="time" name="Time" class="form-control">@prod.Time</label>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 20px">
                        <div class="col-sm-9">
                            <label>From</label>
                         <label type="number" name="Company" class="form-control" >@prod.Company</label>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 20px">
                        <div class="col-sm-6">
                            <label>Purpose to Visit</label><label type="text" name="Purpose" class="form-control" >@prod.Purpose</label>
                        </div>
                        <div class="col-sm-3">
                            <br />
                            <button class="btn btn-primary btn-lg" type="submit">Register</button>
                        </div>
                    </div>

                    <div style="display: inline-block;margin-top:20px">
                        <label>Image Upload:<asp:FileUpload ID="FileUpload1" runat="server" />
                        </label>
                    &nbsp;</div>
                </div>
            </div>


        </div>
    </div>
    </form>
</body>

    

